// vars
$borderGrey: #d3e0e9;

// styles
#metorik-app {
	padding-top: 10px;
	> h3 {
		width: 100%;
	}
	.logo {
		background: url("{{'logo.png' | asset_url}}");
		background-repeat: no-repeat;
		background-size: 25px 25px;
		background-position: center;
		display: inline-block;
		float: right;
		height: 25px;
		margin-top: -3px;
		padding-right: 38px;
		width: 25px;
		vertical-align: middle;
	}

	.app-box {
		border: 1px solid $borderGrey;
		border-radius: 3px;
		color: #68768c;
		line-height: 1.5;
		padding: 20px 15px;
	}

	// Customer details
	.customer-details {
		display: none;
		.customer {
			padding-bottom: 20px;
			.details {
				float: left;
				.customer-name {
					font-size: 18px;
					font-weight: 600;
					margin-bottom: 8px;
				}
				ul {
					li {
						font-size: 13px;
						padding-bottom: 4px;
						&.customer-location {
							display: none;
						}
						.customer-phone {
							display: none;
						}
					}
				}
			}
			.image {
				float: right;
				.customer-image {
					border: 2px solid $borderGrey;
					border-radius: 100%;
				    -webkit-transition: all 200ms;
				    transition: all 200ms;
				}
			}
			.customer-url {
				display: none;
			    &:hover {
			    	img {
			    		border-color: #bcd0de;
			    	}
			    }
			}
		}
		.customer-stats {
			color: #7f8fa4;
			display: none;
			.stat {
				border: 1px solid $borderGrey;
				border-radius: 2px;
				color: #7f8fa4;
				font-size: 12px;
				margin-bottom: 5px;
				padding: 8px 12px;
				text-transform: uppercase;
				.amount {
					color: #68768c;
					display: inline-block;
					font-size: 18px;
					font-weight: 500;
					padding-right: 3px;
				    vertical-align: middle;
				}
				.words {
				    display: inline-block;
				    padding-top: 1px;
					vertical-align: middle;
				}
			}
		}
		.guest-orders {
			display: none;
			.order {
				a.order-link {
					border-bottom-left-radius: 0;
					border-bottom-right-radius: 0;
					margin-bottom: 0;
				}
				.order-items {
					border: 1px solid $borderGrey;
					border-top: 0;
					border-bottom-left-radius: 2px;
					border-bottom-right-radius: 2px;
					display: none;
					width: 100%;
					ul {
						list-style-type: none;
						margin: 0;
						li {
							background: #fafafa;
							border-bottom: 1px solid $borderGrey;
							font-size: 13px;
							padding: 8px 12px;
							&:last-of-type {
								border-bottom: 0;
							}
						}
					}
				}
			}
		}
		.customer-orders {
			display: none;
		}
		.customer-products {
			display: none;
			ul {
				list-style-type: none;
				margin-left: 0;
				.product {
					border: 1px solid $borderGrey;
					color: #7f8fa4;
					margin-bottom: 4px;
					padding: 12px;
					span {
						font-weight: 600;
					}
				}
			}
		}

		.order {
			a.order-link {
				border: 1px solid $borderGrey;
				border-radius: 2px;
				color: #68768c;
				display: block;
				margin-bottom: 6px;
				text-decoration: none;
				width: 100%;
			    -webkit-transition: all 200ms;
			    transition: all 200ms;
			    &:hover {
					border-color: #a5c0d3;
			    }
			    .order-details {
			    	.details {
						float: left;
						padding: 12px;
						.total {
							color: #7f8fa4;
							font-size: 15px;
							margin-bottom: 2px;
							span {
								font-weight: bold;
							}
						}
						.meta {
							color: #97a1b2;
							font-size: 13px;
						}
			    	}
			    	.status-wrapper {
			    		float: right;
			    		max-width: 80px;
						padding: 17px 12px 0 0;
						.status {
							border: 1px solid $borderGrey;
							border-radius: 2px;
							font-size: 11px;
							padding: 4px 6px;
							text-transform: uppercase;
						}
			    	}
			    }
			}
		}

		.guest-data {
			display: none;
		}
		.guest-notice {
			font-size: 12px;
			text-transform: uppercase;
		}

		h4 {
			font-size: 16px;
			font-weight: 400;
			margin-bottom: 14px;
		}

		// contact page styles
		&.contact-page {
			.customer {
				.image {
					display: none;
				}
			}
			.customer-stats {
				.words {
					display: block;
				}
			}
			.order a.order-link {
				.order-details {
					.details {
						float: none;
					}
					.status-wrapper {
						float: none;
					    max-width: 100%;
    					padding: 0;
    					.status {
    						border: 0;
    						border-top: 1px solid $borderGrey;
    						padding: 4px 11px;
    					}
					}
				}
			}
		}
	}

	// Errors
	.error {
		display: none;
		.reason {
			font-weight: 600;
		}
	}

	// Loading
	.loading {
		display: block;
		margin: 20px auto;
		position: relative;
		width: 6px;
		height: 24px;
		background: rgba(255, 255, 255, 0.2);
		-webkit-animation: pulse 750ms infinite;
		animation: pulse 750ms infinite;
		-webkit-animation-delay: 250ms;
		animation-delay: 250ms;
	}
	.loading:before, .loading:after {
		content: '';
		position: absolute;
		display: block;
		height: 16px;
		width: 6px;
		background: rgba(255, 255, 255, 0.2);
		top: 50%;
		-webkit-transform: translateY(-50%);
		transform: translateY(-50%);
		-webkit-animation: pulse 750ms infinite;
		animation: pulse 750ms infinite;
	}
	.loading:before {
		left: -12px;
	}
	.loading:after {
		left: 12px;
		-webkit-animation-delay: 500ms;
		animation-delay: 500ms;
	}
	@-webkit-keyframes pulse {
		50% {
			background: #7f8fa4;
		}
	}
	@keyframes pulse {
		50% {
			background: #7f8fa4;
		}
	}
}
